---
const today = new Date();
import SiteName from './SiteName.astro';
---

<footer class="fixed">
  <div class="container">
    <p>
      &copy; {today.getFullYear()}
      <SiteName />
      <span class="legal-text">- All rights reserved.</span>
    </p>
  </div>
</footer>

<style lang="scss">
  footer {
    bottom: 0;
    z-index: 1030;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.2rem;
    background-color: var(--color_4);
    border-top: 0.2rem solid var(--color_3);
  }

  p {
    margin: 0;
    padding: 0;
  }

  .legal-text {
    display: none;
  }

  @media (min-width: 400px) {
    .legal-text {
      display: inline-block;
    }
  }
</style>
