<video class="fixed" autoplay muted loop playsinline>
  <source src="/flatland.05.05.19.mp4" type="video/mp4" />
  <p>
    Your browser doesn't support HTML video. Here is a
    <a href="/flatland.05.05.19.mp4">link to the video</a> instead.
  </p>
</video>

<style lang="scss">
  video {
    top: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
</style>
